@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: linear-gradient(180deg, hsla(0, 0%, 100%, 0.15), hsla(0, 0%, 100%, 0));
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  width: 100%;
  font-family: "Montserrat", sans-serif;
}

.star-bc {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #0c0c0e, #250c4c);
  z-index: -1;
}
.star-bc .star {
  position: absolute;
  background-color: #fff;
  border-radius: 50%;
  animation: twinkle 2s infinite alternate;
}
@keyframes twinkle {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}

.barra-nav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  width: 100%;
  padding: 20px;
  z-index: 1;
}
.barra-nav h2 {
  color: #fff;
  margin-left: 50px;
  font-weight: lighter;
}
.barra-nav ul {
  list-style: none;
  margin-right: 50px;
}
.barra-nav ul li {
  display: inline-block;
  padding-right: 20px;
}
.barra-nav ul li a {
  position: relative;
  text-decoration: none;
  padding: 10px;
  color: #fff;
}
.barra-nav ul li a::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  transition: width 0.4s ease;
}
.barra-nav ul li a:hover::before {
  width: 100%;
}
.barra-nav ul li .activo::before {
  width: 100%;
}

.barra-nav.scrolled {
  transition: all 0.3s cubic-bezier(0.74, -0.98, 0.58, 1) 0s !important;
}

.scrolled {
  -webkit-backdrop-filter: blur(15px) !important;
  backdrop-filter: blur(15px) !important;
  background-color: rgba(27, 26, 46, 0.662745098) !important;
  box-shadow: 0 10px 10px 0 rgba(9, 5, 29, 0.171) !important;
}

.inicio .titulo-img {
  display: flex;
  justify-content: space-around;
  padding-top: 150px;
}
.inicio .titulo-img .titulo-bienvenida {
  width: 60%;
  padding: 130px;
  text-shadow: 7px 7px 7px #000;
}
.inicio .titulo-img .titulo-bienvenida h2 {
  font-size: 55px;
  color: #fff;
  margin-bottom: 30px;
}
.inicio .titulo-img .titulo-bienvenida h2 .nombre {
  font-size: 50px;
  color: #cd5ff8;
}
.inicio .titulo-img .titulo-bienvenida span {
  color: #cd5ff8;
  font-size: 55px;
  font-weight: bolder;
}
.inicio .titulo-img .titulo-bienvenida span i {
  font-style: normal;
}
.inicio .titulo-img .img-bienvenida {
  width: 40%;
}
.inicio .titulo-img .img-bienvenida img {
  width: 450px;
  height: auto;
}
.inicio .scroll-abajo {
  margin-top: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inicio .scroll-abajo a {
  text-decoration: none;
}
.inicio .scroll-abajo .border-boton {
  border: 1px solid #fff;
  width: 30px;
  height: 60px;
  border-radius: 15px;
  overflow: hidden;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4039215686);
  transition: transform 0.3s ease;
}
.inicio .scroll-abajo .border-boton i {
  margin: 0 auto;
  color: #fff;
  font-size: 25px;
}
.inicio .scroll-abajo .border-boton:hover {
  transform: scale(1.1);
}

.sobre-mi-sect {
  padding-top: 185px;
}
.sobre-mi-sect .titulo-sobre-mi {
  color: #cd5ff8;
  text-align: left;
  margin-left: 160px;
  font-size: 38px;
  margin-top: 40px;
  text-shadow: 7px 7px 7px #000;
}
.sobre-mi-sect .info {
  padding-bottom: 80px;
}
.sobre-mi-sect .info .informacion-mia {
  display: flex;
  justify-content: space-around;
}
.sobre-mi-sect .info .informacion-mia .sobre-mi {
  width: 50%;
}
.sobre-mi-sect .info .informacion-mia .sobre-mi p {
  padding-top: 20px;
  color: #fff;
  font-size: 25px;
  text-align: justify;
}
.sobre-mi-sect .info .informacion-mia .sobre-mi ul {
  margin-top: 30px;
  list-style: none;
}
.sobre-mi-sect .info .informacion-mia .sobre-mi ul li {
  margin-top: 30px;
  color: #fff;
  font-size: 25px;
}
.sobre-mi-sect .info .informacion-mia .sobre-mi ul li span {
  font-weight: bolder;
}
.sobre-mi-sect .info .informacion-mia .sobre-mi .boton-descargar button {
  font-size: 16px;
  color: #fff;
  margin-top: 30px;
  height: 50px;
  width: 150px;
  border-radius: 10px;
  border: 0.1px solid #fff;
  box-shadow: 7px 7px 7px #000;
  background-color: #cd5ff8;
  cursor: pointer;
  transition: transform 0.3s ease;
  font-weight: bolder;
}
.sobre-mi-sect .info .informacion-mia .sobre-mi .boton-descargar button:hover {
  transform: scale(1.1);
}
.sobre-mi-sect .info .informacion-mia img {
  height: 320px;
  width: 320px;
  border-radius: 50%;
  overflow: hidden;
  border: 6px solid #fff;
}
.sobre-mi-sect .info .skills {
  margin-left: 160px;
  margin-top: 100px;
}
.sobre-mi-sect .info .skills h2 {
  color: #cd5ff8;
  text-shadow: 7px 7px 7px #000;
  font-size: 30px;
}
.sobre-mi-sect .info .skills .imagenes-skills {
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  width: 70%;
}
.sobre-mi-sect .info .skills .imagenes-skills .img-container {
  position: relative;
  overflow: hidden;
  padding: 20px;
}
.sobre-mi-sect .info .skills .imagenes-skills .img-container img {
  width: 150px;
  height: auto;
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
  transition: transform 0.3s, filter 0.3s;
  filter: grayscale(100%);
}
.sobre-mi-sect .info .skills .imagenes-skills .img-container h4 {
  color: #000;
  background-color: #fff;
  font-weight: bold;
  padding: 10px;
  position: absolute;
  border-radius: 6px;
  top: 5%;
  left: 20%;
}
.sobre-mi-sect .info .skills .imagenes-skills .img-container:hover img {
  transform: scale(1.1);
  filter: grayscale(0%);
}
.sobre-mi-sect .info .skills .imagenes-skills .img-container:hover h4 {
  opacity: 1;
}
.sobre-mi-sect .info .skills .imagenes-skills .img-container:not(:hover) h4 {
  opacity: 0;
}

.proyectos-sect {
  padding: 160px;
}
.proyectos-sect h2 {
  color: #cd5ff8;
  font-size: 38px;
  text-shadow: 7px 7px 7px #000;
  padding-bottom: 100px;
}
.proyectos-sect #carouselExampleControls {
  width: 65%;
  margin: auto;
}
.proyectos-sect #carouselExampleControls .carousel-inner {
  width: 100%;
}
.proyectos-sect #carouselExampleControls .carousel-inner .carousel-item {
  text-align: center;
  position: relative;
}
.proyectos-sect #carouselExampleControls .carousel-inner .carousel-item img {
  border-radius: 20px;
}
.proyectos-sect #carouselExampleControls .carousel-inner .carousel-item h3 {
  display: none;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  background-color: #250c4c;
  width: 100%;
  height: 40px;
  border-radius: 10px;
  font-weight: bolder;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2823529412);
  box-shadow: 7px 7px 7px #000;
}
.proyectos-sect #carouselExampleControls .carousel-inner .carousel-item:hover {
  display: block;
}
.proyectos-sect #carouselExampleControls .carousel-inner .carousel-item:hover h3 {
  display: block;
}/*# sourceMappingURL=style.css.map */