@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: linear-gradient(180deg, hsla(0, 0%, 100%, 0.15), hsla(0, 0%, 100%, 0));
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  width: 100%;
  font-family: "Montserrat", sans-serif;
}

.star-bc {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #0c0c0e, #250c4c);
  z-index: -1;
}
.star-bc .star {
  position: absolute;
  background-color: #fff;
  border-radius: 50%;
  animation: twinkle 2s infinite alternate;
}
@keyframes twinkle {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}

.barra-nav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  width: 100%;
  padding: 20px;
  z-index: 1;
}
.barra-nav h2 {
  color: #fff;
  margin-left: 50px;
  font-weight: lighter;
}
.barra-nav ul {
  list-style: none;
  margin-right: 50px;
}
.barra-nav ul li {
  display: inline-block;
  padding-right: 20px;
}
.barra-nav ul li a {
  position: relative;
  text-decoration: none;
  padding: 10px;
  color: #fff;
}
.barra-nav ul li a::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  transition: width 0.4s ease;
}
.barra-nav ul li a:hover::before {
  width: 100%;
}
.barra-nav ul li .activo::before {
  width: 100%;
}

.barra-nav.scrolled {
  transition: all 0.3s cubic-bezier(0.74, -0.98, 0.58, 1) 0s !important;
}

.scrolled {
  -webkit-backdrop-filter: blur(15px) !important;
  backdrop-filter: blur(15px) !important;
  background-color: rgba(27, 26, 46, 0.662745098) !important;
  box-shadow: 0 10px 10px 0 rgba(9, 5, 29, 0.171) !important;
}

.inicio .titulo-img {
  display: flex;
  justify-content: space-around;
  padding-top: 150px;
}
.inicio .titulo-img .titulo-bienvenida {
  width: 60%;
  padding: 130px;
  text-shadow: 7px 7px 7px #000;
}
.inicio .titulo-img .titulo-bienvenida h2 {
  font-size: 55px;
  color: #fff;
  margin-bottom: 30px;
}
.inicio .titulo-img .titulo-bienvenida h2 .nombre {
  font-size: 50px;
  color: #cd5ff8;
}
.inicio .titulo-img .titulo-bienvenida span {
  color: #cd5ff8;
  font-size: 55px;
  font-weight: bolder;
}
.inicio .titulo-img .titulo-bienvenida span i {
  font-style: normal;
}
.inicio .titulo-img .img-bienvenida {
  width: 40%;
}
.inicio .titulo-img .img-bienvenida img {
  width: 450px;
  height: auto;
}

.sobre-mi-sect {
  padding-top: 235px;
}
.sobre-mi-sect .titulo-sobre-mi {
  color: #cd5ff8;
  text-align: left;
  margin-left: 160px;
  font-size: 38px;
  margin-top: 40px;
  text-shadow: 7px 7px 7px #000;
}
.sobre-mi-sect .info {
  padding-bottom: 300px;
}
.sobre-mi-sect .info .informacion-mia {
  display: flex;
  justify-content: space-around;
}
.sobre-mi-sect .info .informacion-mia .sobre-mi {
  width: 50%;
}
.sobre-mi-sect .info .informacion-mia .sobre-mi p {
  padding-top: 20px;
  color: #fff;
  font-size: 25px;
  text-align: justify;
}
.sobre-mi-sect .info .informacion-mia .sobre-mi ul {
  margin-top: 30px;
  list-style: none;
}
.sobre-mi-sect .info .informacion-mia .sobre-mi ul li {
  margin-top: 30px;
  color: #fff;
  font-size: 25px;
}
.sobre-mi-sect .info .informacion-mia .sobre-mi ul li span {
  font-weight: bolder;
}
.sobre-mi-sect .info .informacion-mia img {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  overflow: hidden;
  border: 4px solid #fff;
}/*# sourceMappingURL=style.css.map */